body {
    background-image: url("head.jpg");
    background-size: contain;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:yellow;
}
header {
    background-color:yellowgreen;
    color:black;
    text-align: center;
    padding: 20px 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
